{% extends "base.html" %}
{% block head_add %}

<style>
/* 기본적인 스타일링 */
.w3-row-padding {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0; /* 컨테이너의 패딩 제거 */
}

/* 3/4 영역 스타일 */
.three-fourths {
  flex: 0 0 30%; /* 3/4 크기 */
  padding: 0 16px; /* 패딩 추가 */
}

/* 1/4 영역 스타일 */
.one-fourth {
  flex: 0 0 70%; /* 1/4 크기 */
  padding: 0 16px; /* 패딩 추가 */
}
</style>
<style>
/* CSS 스타일 시트 */
.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 이미지 사이의 간격 조정 */
}

.image-container img {
  max-width: calc(20% - 20px); /* 각 이미지의 최대 너비 지정 */
  height: auto;
  margin: 5px; /* 이미지 주위의 여백 조정 */
  border-radius: 50%;
}
</style>
{% endblock %}

{% block content %}
<div class="w3-row-padding" style="display: flex; justify-content: center; align-items: center;">
  <div  class="one-fourth">
    <h1 style="color:green; text-align:center"><b>더샤펜</b></h1>
    <br>
    <h4 style="color:blue">마감재의 새로운 길, 더샤펜이 만듭니다.</h4>
    <p>더샤펜은 1981년 창사 이래 지난 40여년간 우리 사회의 내외장 건축 마감재 품질과 디자인 업그레이드를 위해 노력해왔습니다.</p>
    <h4 style="color:blue">ALL IN ONE PLACE</h4>
    <p>모든 자재를 한 곳에서 만나보세요.
더샤펜은 세계 각국의 건축자재 업체들과 쌓아온
탄탄한 네트워킹 인프라를 바탕으로
고객이 보다 효율적으로, 만족스러운 공간을 연출할 수 있도록
벽재, 바닥재, 스톤/타일 등 토탈 디자인 서비스를 제공합니다.</p>
    <h4 style="color:blue">풍성한 자재를 좋은 가격에</h4>
    <p>친환경을 생각하는 좋은 자재
압도적인 퀄리티의 강한 자재
그리고 개성을 표현할 수 있는 독창적이고
아름다운 디자인의 자재까지

더샤펜은 높은 퀄리티의 다양한 자재를
가장 합리적인 가격으로 유통하고자 노력하고 있습니다.

더샤펜이 만드는 길은 여러분에 의해 완성됩니다.
더샤펜의 쇼룸을 방문하여 경험하세요.
</p>
    <br>
<h5 style="text-align: center;"><b> <i style="color:red; ">COME AND GET INSPIRED!</i></b></h5>

  </div>
</div>
<hr>

<div>
  <div style="background:lightblue;">
    <br>
    <h2 style="color:green; text-align:center;">더샤펜의 해외 브랜드</h2>
    <div class="image-container" >
        <img src="/static/img/intro/logo_partners/ATROGUARD.png" alt="ATROGUARD image">
        <img src="/static/img/intro/logo_partners/CFL.jpg" alt="CFL image">
        <img src="/static/img/intro/logo_partners/CONCREATE.png" alt="CONCREATE image">
        <img src="/static/img/intro/logo_partners/DECNO.jpg" alt="DECNO image">
        <img src="/static/img/intro/logo_partners/DELFONE CASA.jpg" alt="DELFONE image">
        <img src="/static/img/intro/logo_partners/Kingdom.png" alt="Kingdom image">
        <img src="/static/img/intro/logo_partners/MEIJER.png" alt="MEIJER image">
        <img src="/static/img/intro/logo_partners/MURATTO.png" alt="MURATTO image">
        <img src="/static/img/intro/logo_partners/NOVOCORE.png" alt="NOVOCORE image">
        <img src="/static/img/intro/logo_partners/TENACITY.png" alt="TENACITY image">
        <img src="/static/img/intro/logo_partners/VALINGE flooring.jpg" alt="VALINGE image">
        <img src="/static/img/intro/logo_partners/topfloor.jpg" alt="VALINGE image">
    </div>
   </div>
</div>

{% endblock %}