{% extends "base.html" %}

{% block content %}
<div style="border: 1px solid black; background-color: lightblue;">
    <h1>석재 ( Stone )</h1>
    <ul>
            <li><a href="#terazzo">테라조</a></li>
            <li><a href="#natural">천연석</a></li>
            <li><a href="#other">기타</a></li>
    </ul>
    <hr>
</div>
<div id="terazzo">
    <h2>테라조 (Terazzo)</h2>
    <div class="image-container">
        <img src="/static/img/product/Floor/Atroguard/KakaoTalk_20230908_133548798.png">
    </div>
</div>

<div id="natural">
    <h2>천연석 (Natural Stone)</h2>
    <div class="image-container">
        <img src="/static/img/product/Floor/Atroguard/KakaoTalk_20230908_133548798.png">
    </div>

</div>

<div id="other">
    <h2>기타</h2>
    <div class="image-container">
        <img src="/static/img/product/Floor/Atroguard/KakaoTalk_20230908_133548798.png">
    </div>

</div>

{% endblock %}